[tool.poetry]
name = "mft2es"
version = "1.3.0"
description = "A library for fast import of Windows Master File Table($MFT) into Elasticsearch."
authors = ["sumeshi <j15322sn@gmail.com>"]
license = "MIT"
readme = "README.md"

repository = "https://github.com/sumeshi/mft2es"
homepage = "https://github.com/sumeshi/mft2es"

keywords = ['mft', 'elasticsearch', 'json']

[tool.poetry.scripts]
mft2es = 'views.Mft2esView:entry_point'
mft2json = 'views.Mft2jsonView:entry_point'

[tool.poetry.dependencies]
python = "^3.7"
elasticsearch = "^7.7.1"
mft = "^0.5.3"
tqdm = "^4.46.1"
urllib3 = "^1.26.5"
orjson = "^3.6.0"

[tool.poetry.dev-dependencies]
flake8 = "^3.8.3"
mypy = "^0.780"
black = "^19.10b0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
